In [ ]:
import pandas
import os

# This query represents dataset "Clinical_Measurements_For_Cohort_Dataset" for domain "measurement" and was generated for All of Us Registered Tier Dataset v7
dataset_86481652_measurement_sql = """
    SELECT
        measurement.person_id,
        measurement.measurement_concept_id,
        m_standard_concept.concept_name as standard_concept_name,
        m_standard_concept.concept_code as standard_concept_code,
        m_standard_concept.vocabulary_id as standard_vocabulary,
        measurement.measurement_datetime,
        measurement.measurement_type_concept_id,
        m_type.concept_name as measurement_type_concept_name,
        measurement.operator_concept_id,
        m_operator.concept_name as operator_concept_name,
        measurement.value_as_number,
        measurement.value_as_concept_id,
        m_value.concept_name as value_as_concept_name,
        measurement.unit_concept_id,
        m_unit.concept_name as unit_concept_name,
        measurement.range_low,
        measurement.range_high,
        measurement.visit_occurrence_id,
        m_visit.concept_name as visit_occurrence_concept_name,
        measurement.measurement_source_value,
        measurement.measurement_source_concept_id,
        m_source_concept.concept_name as source_concept_name,
        m_source_concept.concept_code as source_concept_code,
        m_source_concept.vocabulary_id as source_vocabulary,
        measurement.unit_source_value,
        measurement.value_source_value 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.measurement` measurement 
        WHERE
            (
                measurement_concept_id IN  (
                    SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (
                            select
                                cast(cr.id as string) as id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                            WHERE
                                concept_id IN (
                                    1002664, 1029770, 21495748, 3000330, 3000348, 3000905, 3000963, 3001420, 3004249, 3004327, 3004410, 3004501, 3006906, 3006923, 3007070, 3007876, 3008342, 3009201, 3009744, 3010457, 3011163, 3011397, 3011948, 3012030, 3012888, 3013429, 3013650, 3013682, 3013721, 3013869, 3014576, 3015632, 3016723, 3018834, 3019550, 3019897, 3020416, 3020630, 3020891, 3021601, 3022192, 3022217, 3022318, 3022621, 3023103, 3023314, 3023599, 3024128, 3024171, 3024561, 3024629, 3024929, 3025315, 3027018, 3027114, 3027162, 3028288, 3028615, 3031203, 3033575, 3034426, 3035995, 3036277, 3037511, 3038553, 3043111, 3044491, 3045716, 36661507, 36661960, 36662140, 37022240, 37023425, 37024433, 37026687, 37027088, 37027122, 37027195, 37027885, 37028134, 37028517, 37028828, 37029153, 37029387, 37031129, 37032269, 37032270, 37033687, 37034025, 37034848, 37035033, 37035164, 37037425, 37038273, 37038535, 37040193, 37040514, 37040621, 37041261, 37041470, 37042222, 37042332, 37042766, 37043992, 37045117, 37045413, 37045722, 37046871, 37047520, 37047736, 37048896, 37049637, 37049794, 37051765, 37054426, 37054465, 37055139, 37055777, 37056155, 37057676, 37057823, 37059000, 37059055, 37060031, 37060474, 37060555, 37060904, 37060907, 37060983, 37061383, 37061620, 37062081, 37062148, 37062351, 37062605, 37062698, 37065054, 37065387, 37065843, 37068065, 37068379, 37070108, 37070839, 37071701, 37072252, 37074594, 37075673, 37077552, 37077567, 37077796, 40759207, 40765148, 40772505, 40772507, 40772531, 40772543, 40772572, 40772590, 40772748, 40772857, 40772947, 40775795, 40775801, 40775898, 40775916, 40775918, 40775999, 40776230, 40776231, 40776232, 40776249, 40776269, 40779147, 40779159, 40779168, 40779224, 40779250, 40779253, 40779364, 40779561, 40779570, 40779671, 40781790, 40782511, 40782521, 40782530, 40782562, 40782579, 40782589, 40782662, 40782735, 40783188, 40784775, 40785788, 40785793, 40785796, 40785809, 40785816, 40785817, 40785842, 40785850, 40785861, 40785869, 40786033, 40786072, 40786169, 40786225, 40786227, 40786244, 40786245, 40786267, 40789120, 40789126, 40789179, 40789180, 40789182, 40789190, 40789215, 40789356, 40789527, 40789534, 40789536, 40791216, 40791227, 40792413, 40792455, 40792548, 40792670, 40792772, 40792777, 40792803, 40795717, 40795725, 40795727, 40795730, 40795733, 40795740, 40795754, 40795800, 40795977, 40796010, 40796098, 40796119, 40796132, 40796134, 40796248, 40797982, 40798316, 40798525, 44817721
                                ) 
                                AND full_text LIKE '%_rank1]%'
                        ) a 
                            ON (
                                c.path LIKE CONCAT('%.',
                            a.id,
                            '.%') 
                            OR c.path LIKE CONCAT('%.',
                            a.id) 
                            OR c.path LIKE CONCAT(a.id,
                            '.%') 
                            OR c.path = a.id) 
                        WHERE
                            is_standard = 1 
                            AND is_selectable = 1
                        )
                )  
                AND (
                    measurement.PERSON_ID IN (
                        SELECT
                            distinct person_id  
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                        WHERE
                            cb_search_person.person_id IN (
                                SELECT
                                    criteria.person_id 
                                FROM
                                    (SELECT
                                        DISTINCT person_id,
                                        entry_date,
                                        concept_id 
                                    FROM
                                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                                    WHERE
                                        (
                                            concept_id IN (
                                                SELECT
                                                    DISTINCT ca.descendant_id 
                                                FROM
                                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria_ancestor` ca 
                                                JOIN
                                                    (
                                                        select
                                                            distinct c.concept_id 
                                                        FROM
                                                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                                                        JOIN
                                                            (
                                                                select
                                                                    cast(cr.id as string) as id 
                                                                FROM
                                                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                                                                WHERE
                                                                    concept_id IN (21604254) 
                                                                    AND full_text LIKE '%_rank1]%'
                                                            ) a 
                                                                ON (
                                                                    c.path LIKE CONCAT('%.',
                                                                a.id,
                                                                '.%') 
                                                                OR c.path LIKE CONCAT('%.',
                                                                a.id) 
                                                                OR c.path LIKE CONCAT(a.id,
                                                                '.%') 
                                                                OR c.path = a.id) 
                                                            WHERE
                                                                is_standard = 1 
                                                                AND is_selectable = 1
                                                            ) b 
                                                                ON (
                                                                    ca.ancestor_id = b.concept_id
                                                                )
                                                        ) 
                                                        AND is_standard = 1
                                                    )
                                            ) criteria 
                                        ) 
                                        AND cb_search_person.person_id NOT IN (
                                            SELECT
                                                criteria.person_id 
                                        FROM
                                            (SELECT
                                                DISTINCT person_id,
                                                entry_date,
                                                concept_id 
                                            FROM
                                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                                            WHERE
                                                (
                                                    concept_id IN (
                                                        SELECT
                                                            DISTINCT c.concept_id 
                                                        FROM
                                                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                                                        JOIN
                                                            (
                                                                select
                                                                    cast(cr.id as string) as id 
                                                                FROM
                                                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr 
                                                                WHERE
                                                                    concept_id IN (40493428, 252840, 4092524, 4178964, 76349, 4177243, 4313083, 4241905, 46273652, 196925, 4180791, 436045, 200962, 4091466, 4162860, 4294416, 4092212, 444411, 4154630, 442139, 4309225, 4298032, 40650479, 197807, 4091465, 40490994, 4216273, 133424, 4247726, 4247822, 4181483, 4162994, 4309851, 436671, 4180780, 4300555, 4160780, 4180910, 4247238, 4155297, 4178971, 443568, 75210, 442183, 40492021, 78987, 443388, 195483, 4155285, 4181488, 25189, 4180902, 36676291, 376918, 4297666, 4157332, 40488919, 380661, 256633, 133711, 200348, 4174593, 433143, 4178977, 4178959, 443387, 40480128, 432263, 4312698, 4315805, 4112853, 4297185, 4181333, 442181, 46270738, 4178974, 4246450, 442131, 443391, 444410, 137809, 4181330, 4313916, 40487047, 192581, 4314047, 4092217, 4181351, 37397344, 4112745, 257503, 438693, 139750, 4181338, 198091, 436357, 196359, 432257, 4246451, 258375, 200052, 40488964, 256646, 436353, 438094, 4312023, 31509, 201238, 37310458, 4095312, 138996, 4162253, 378087, 435484, 374874, 36684472, 4314071, 4312288, 261514, 4181332, 44806773, 196360, 4188544, 4298026, 443392, 4295624, 432845, 45769720, 197507, 4233629, 4241917, 199754, 4160276, 440649, 443588, 4089655, 4092511, 439751, 432837, 4095740, 197808, 4162251, 200051, 4310566, 4187850, 26052, 4187849, 4311637, 4246017, 440658, 4247719, 4312685, 4241904, 4181480, 4311342, 4116084, 4111921, 36683531, 441805, 4298028, 437498, 4054503, 4298033, 192568, 4246127, 4312022, 4081044, 197500, 373425, 4338758, 443398, 376647, 4308621, 198988, 40491001, 40492037, 40490993, 4180793, 4181484, 4247338, 4297665, 441515, 74582, 442132, 261236, 4188545, 4180790, 4247331, 133726, 433716, 258369, 136917, 440345, 200959, 320342, 434298, 4334322, 4181350, 40492932, 4178968, 198700, 380055, 440956, 4111776, 4311619, 4247836, 4155171, 432833, 4111805, 433435, 201519, 438386, 4178976, 192855, 4157457, 75512, 4311617, 4157456, 24897, 45770892, 4187848, 80045, 4116241, 45768522, 4311499, 72266, 255507, 193144, 30346, 4315806, 443561, 28083, 4001666, 4089665, 4089756, 439404, 435755, 42536893, 4312944, 443390, 40493020, 4187851, 441233, 4248061, 4247357, 4157454, 4313482, 438699, 318096, 4112974, 432254, 4158563, 4091464, 436635, 198985, 40482750, 254591, 4181343, 197804, 4151250, 40487143, 443386, 46270513, 4157449, 4181354, 4181339, 133147, 443389, 4092382, 45757101, 4313634, 4307263, 4092512, 194589, 253717, 136354, 764225, 195513, 4153882, 4157331, 4214901, 4181477) 
                                                                    AND full_text LIKE '%_rank1]%'
                                                            ) a 
                                                                ON (
                                                                    c.path LIKE CONCAT('%.',
                                                                a.id,
                                                                '.%') 
                                                                OR c.path LIKE CONCAT('%.',
                                                                a.id) 
                                                                OR c.path LIKE CONCAT(a.id,
                                                                '.%') 
                                                                OR c.path = a.id) 
                                                            WHERE
                                                                is_standard = 1 
                                                                AND is_selectable = 1
                                                            ) 
                                                            AND is_standard = 1 
                                                    )
                                                ) criteria 
                                            ) ))
                                ) measurement 
                            LEFT JOIN
                                `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_standard_concept 
                                    ON measurement.measurement_concept_id = m_standard_concept.concept_id 
                            LEFT JOIN
                                `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_type 
                                    ON measurement.measurement_type_concept_id = m_type.concept_id 
                            LEFT JOIN
                                `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_operator 
                                    ON measurement.operator_concept_id = m_operator.concept_id 
                            LEFT JOIN
                                `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_value 
                                    ON measurement.value_as_concept_id = m_value.concept_id 
                            LEFT JOIN
                                `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_unit 
                                    ON measurement.unit_concept_id = m_unit.concept_id 
                            LEFT JOIn
                                `""" + os.environ["WORKSPACE_CDR"] + """.visit_occurrence` v 
                                    ON measurement.visit_occurrence_id = v.visit_occurrence_id 
                            LEFT JOIN
                                `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_visit 
                                    ON v.visit_concept_id = m_visit.concept_id 
                            LEFT JOIN
                                `""" + os.environ["WORKSPACE_CDR"] + """.concept` m_source_concept 
                                    ON measurement.measurement_source_concept_id = m_source_concept.concept_id"""

dataset_86481652_measurement_df = pandas.read_gbq(
    dataset_86481652_measurement_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_86481652_measurement_df.head(5)